/* анимация меда */
.redcircle {
  width: 100px;
  height: 100px;
  background-color: brown;
  border-radius: 100%;
  animation: toblubox 6s infinite linear;
}
@keyframes toblubox {
  0% {
    background-color: brown;
  }
  50% {
    background-color: blue;
  }
  100% {
    background-color: brown;
  }
}

.beekeeper {
  width: 461px;
  height: 658px;
  background-image: url('../images/beekeeper658.png');
  animation: beekeeper 6s steps(1) infinite;
}
@keyframes beekeeper {
  0% {
    background-position: 0 0;
  }
  11% {
    background-position: -461px 0;
  }
  22% {
    background-position: -922px 0;
  }
  33% {
    background-position: -1383px 0;
  }
  44% {
    background-position: -1844px 0;
  }
  55% {
    background-position: -2305px 0;
  }
  66% {
    background-position: -2305px 0;
  }
  77% {
    background-position: -2766px 0;
  }
  88% {
    background-position: -3227px 0;
  }
  100% {
    background-position: -3688px 0;
  }
}
