@font-face {
  font-family: 'Panton';
  src: url('../fonts/Panton-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Panton';
  src: url('../fonts/Panton-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'honeycomb';
  src: url('../fonts/honeycomb.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
