html {
  background-color: #0e1923;
  width: 100vw;
}
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  overflow-x: hidden;
  width: 100%;
  display: block;
  margin: 0 auto;
  margin: 0;
  padding: 0;
}
img.lines1 {
  width: 100%;
  height: 100%;
}
.beenobeg {
  width: 100%;
  height: 8vw;
  position: relative;
}

.beg {
  position: absolute;
  font-family: 'honeycomb';
  margin-top: 2%;
  margin-left: -50%;
  font-size: 3.5vw;
  color: white;
  white-space: nowrap;
  animation: text-move1 6s infinite linear;
}
@keyframes text-move1 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50.5%);
  }
}
img.lines2 {
  width: 100%;
  height: 100%;
}
.container {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  z-index: 1;
}

.squares {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  width: 50vw;
  height: 50vw;
  z-index: 1;
}

.square {
  width: 100%;
  height: 100%;
  background-color: #0e1923;
  transition: background-color 0.3s ease;
}
.square.color1:hover {
  background-color: #4855a2;
}
.square.color2:hover {
  background-color: #5f2a8d;
}
.square.color3:hover {
  background-color: #1a8ca9;
}
.square.color4:hover {
  background-color: #7ccec6;
}
.square.color5:hover {
  background-color: #382661;
}
.square.color6:hover {
  background-color: #2c7bbd;
}

.lines {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 50vw;
  height: 50vw;
  z-index: 1;
}

.line1,
.line2,
.line3,
.line4,
.line5 {
  width: 100%;
  height: 100%;
  transition: background-color 0.3s ease, height 0.3s ease;
}
.line1 {
  background-color: #7ccec6;
}
.line2 {
  background-color: #1a8ca9;
}
.line3 {
  background-color: #2c7bbd;
}
.line4 {
  background-color: #4855a2;
}
.line5 {
  background-color: #5f2a8d;
}
.line1:hover {
  background-color: #0e1923;
}
.line2:hover {
  background-color: #0e1923;
}
.line3:hover {
  background-color: #0e1923;
}
.line4:hover {
  background-color: #0e1923;
}
.line5:hover {
  background-color: #0e1923;
}

.animated-hexagon {
  left: 30%;

  position: absolute;
  transform: translate(-50%, -50%);
  width: 40.3vw;
  height: 62.1vh;
  animation: rotateHexagon 3s linear infinite;
  background-size: cover;
  background-repeat: no-repeat;
  /* Анимация шестиугольника */
  z-index: 2;
}
.animated-hexagon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

@keyframes rotateHexagon {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
